{  
  margin: 0;  
  padding: 0;  
}
 
header, footer, aside, nav, article {  
	display: block;
}

body {
  	font: 13px/22px Helvetica, Arial, sans-serif;  
  	background-color: #ccc;
	background-image: url(../img/bg.jpg);
	background-position: center;
}

#sitewrapper {
  	margin: 0 auto;  
	width: 960px;  
	height: 100%;
	background-color: #fff;
}

#contentwrapper {
	width: 940px;
	margin: 0 10px;
}

.clearer {
	clear: both;
}

h1 {
  font-size: 28px;
  padding: 15px 0 10px 0;
  color: #000;
}

#logo {
	height: 60px;
	width: 223px;
	margin: 10px;
}

nav { 
  	background-color: #001D37;  
	height: 30px;
	margin: 10px;
	background-image: url(../img/menu_bg.jpg);
	-webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #ddd;
}

nav ul {
  list-style: none;  
}

nav ul li {
  float: right;  
}

nav ul li a {
  	display: block;
  	outline: 0;
  	margin: 5px 6px 5px 0;
  	padding: 0 6px 6px 6px;
	height: 14px;
	font-size: 11px;
  	text-decoration: none;
	background-image: url(../img/menu_button_bg.jpg);
  	color: #fff;
	background-color: #666;
	-webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

nav ul li a:hover {
  	color: #fff;
	background-image: url(../img/menu_button_bg_hover.jpg);
	text-decoration: none;
}

section {
	display: block;
}

a {
  outline: 0;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #E18325;
  text-decoration: underline;
}


.x-window-mc {
  background-color: #f4f4f4;
}

/* Icons */

.lock-go-icon { background-image: url(../img/lock_go.png) !important; }
.add-icon { background-image: url(../img/add.png) !important; }
.edit-icon { background-image: url(../img/edit.png) !important; }
.delete-icon { background-image: url(../img/delete.png) !important; }
.reload-icon { background-image: url(../img/reload.png) !important; }
.save-icon { background-image: url(../img/save.png) !important; }
.cancel-icon { background-image: url(../img/cancel.png) !important; }
.folder-add-icon { background-image: url(../img/folder_add.png) !important; }

.home-icon { background-image: url(../img/home.png) !important; }
.user-panel-icon { background-image: url(../img/group.png) !important; }

.folder-icon { background-image: url(../img/folder.gif) !important; }

.folder-link, .bc-folder { 
	background-image: url(../img/folder.gif);
	background-repeat: no-repeat;
	padding: 2px 0 0 20px;
	height: 16px;
	vertical-align: center;
}

.folder-up-link { 
	background-image: url(../img/folder_up.png);
	background-repeat: no-repeat;
	padding: 2px 0 0 20px;
	height: 16px;
	vertical-align: center;
	color: #aaa;
}

.bc-home {
	background-image: url(../img/home.png);
	background-repeat: no-repeat;
	padding: 2px 0 0 20px;
	height: 16px;
	vertical-align: center;
}
