{  
  margin: 0;  
  padding: 0;  
}
 
header, footer, aside, nav, article {  
    display: block;  
}

body {
  margin: 0 auto;  
  width: 940px;  
  font: 13px/22px Helvetica, Arial, sans-serif;  
  background-color: #093660;
}

h1 {
  font-size: 28px;
  padding: 15px 0 10px 0;
  color: #fff;
}

nav {
  position: absolute;
  width: 940px;  
  background-color: #001D37;  
}

nav ul {
  margin: 0 auto;  
  width: 940px;  
  list-style: none;  
}

nav ul li {
  float: right;  
}

nav ul li a {
  display: block;
  outline: 0;
  margin-right: 15px;
  padding: 5px;
  text-decoration: none;
  color: #9eb9d2;
}

nav ul li a:hover {
  color: #fff;
}

section {
  position: absolute;
  top: 100px;
  margin: 0 auto;  
  width: 940px;
}

a {
  outline: 0;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #E18325;
  text-decoration: underline;
}


.x-window-mc {
  background-color: #f4f4f4;
}

/* Icons */

.lock-go-icon { background-image: url(../img/lock_go.png) !important; }
.add-icon { background-image: url(../img/add.png) !important; }
.edit-icon { background-image: url(../img/edit.png) !important; }
.delete-icon { background-image: url(../img/delete.png) !important; }
.reload-icon { background-image: url(../img/reload.png) !important; }
.save-icon { background-image: url(../img/save.png) !important; }
.cancel-icon { background-image: url(../img/cancel.png) !important; }
.folder-add-icon { background-image: url(../img/folder_add.png) !important; }

.home-icon { background-image: url(../img/home.png) !important; }
.user-panel-icon { background-image: url(../img/group.png) !important; }

.folder-icon { background-image: url(../img/folder.gif) !important; }


